<!DOCTYPE html>
<html>
<head>
<% include ../partials/includes.ejs %>
<link href='/static-assets/css/photoswipe.css' rel='stylesheet' />
<link href='/static-assets/css/default-skin/default-skin-with-ig.css' rel='stylesheet' />
<% if (Campaign.CampaignTemplate != 'default') { %>
  <link href='/static-assets/css/<%= Campaign.CampaignTemplate %>/web_platform.css' rel='stylesheet' />
<% } %>
<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<link href='/static-assets/css/campaign.css' rel='stylesheet' />
<% if (Campaign.CampaignTemplate != 'default') { %>
  <link href='/static-assets/css/<%= Campaign.CampaignTemplate %>/campaign.css' rel='stylesheet' />
<% } %>
<% include ../partials/analyticsFBPixel.ejs %>
</head>
<body>
<script>
var APP = 'CampaignApp';
var GAME_API_URL = '<%= Defs.MRAPIURL %>';
var GAME_FUNDRAISING = <%= Campaign.CampaignFundraising %>;
var HOST_URL = '<%= Defs.BaseHTTPSURL %>';
var CLIENT_ID = '<%= Campaign.ClientID %>';
var CAMPAIGN_ID = '<%= Campaign.CampaignID %>';
var CAMPAIGN_TEMPLATE = '<%= Campaign.CampaignTemplate %>';
var CAMPAIGN_JUICER_FEED = '<%= Campaign.CampaignJuicerFeed %>';
var CAMPAIGN_SEL_LANGUAGE = '<%= Campaign.SelLanguage["name"] %>';
</script>

<div class="container-fluid nopadding">
  <div id="page-view">
    <% if (Campaign.CampaignTemplate == 'default') { %>
      <% include ../partials/header.ejs %>
    <% } else { %>
      <%- include('../partials/' + Campaign.CampaignTemplate + '/header.ejs') %>
    <% } %>

    <div id="hero-view">
      <div class="image fade_on_ready">
      <% if (Campaign.CampaignTemplate == 'default') { %>
        <img class="scale" src="https://mountainrush-assets.imgix.net/pages/olivier-miche-102259-unsplash.jpg?fm=jpg&q=80&w=1280">
      <% } else { %>
<!--      
        <img class="scale" src="https://mountainrush-assets.imgix.net/clients/<%= Campaign.CampaignTemplate %>/pages/TB_CFYW_landing_page_header_image_0001_img 2.jpg?fm=jpg&q=80&w=1280">
-->
        <img class="scale" src="/static-assets/images/temp/sylvain-guiheneuc-51715-unsplash_edited.jpg">        
      <% } %>
      </div>

      <div class="hero-container">
        <div class="campaign-title">
          <div class="campaign-tagline">
          Climb<br/>For Your<br/><span class="bigger">World</span>
          </div>
          <div class="campaign-tagline2 visible-xs">
          Join WWF's<br/>fundraising event
          </div>
          <div class="campaign-tagline2 hidden-xs">
          Join WWF's fundraising event
          </div>
          <div class="campaign-tagline3 visible-xs">
          Get active and help us protect<br/>iconic species and their habitats
          </div>
          <div class="campaign-tagline3 hidden-xs">
          Get active and help us protect iconic<br/>species and their habitats
          </div>
        </div>

        <div id="campaign-summary-sticker-view"></div>
      </div>
    </div>

    <div id="challenges-view">
      <div class="challenges-container-view">
        <div class="challenge-view">  
          <div class="content">      
            <div class="image-container">        
              <div class="image" style="background-image: url('https://tbassets2.imgix.net/images/brands/mountainrush/clients/<%= Campaign.CampaignTemplate %>/pages/WW22016_even_darker.jpg?fm=jpg&q=80&w=1280')"></div>
              <div class="campaign-sticker"></div>
            </div>
            <div class="text-container">
            <h2>Challenge</h2>
            <h1>Protect Mountain Gorillas</h1>
            <p>Just 1000 mountain gorillas are left in the wild. The time to protect them is now. Their future is fragile.</p>
            </div>
            <div class="butty">
            <a class="btn mr-btn btn-primary double" href="<%= Defs.BaseHTTPSURL %>/campaign/<%= Campaign.CampaignID %>/gamecreate"><div><%= __('defs.challenge.select') %></div><div><i class="fa fa-arrow-right"></i></div></a>
            </div>
          </div>
        </div>

        <div class="challenge-view">
          <div class="content">
            <div class="image-container">
              <div class="blank">
                <div class="text">
                Next<br/>
                Challenge
                </div>
              </div>
            </div>

            <div class="text-container">
              Which iconic species would you like to see here?
              <div class="form-container">
                <form name="vote-challenge-species">
                <div class="form-check">
                  <label class="form-check-label">
                  <input class="form-check-input required" type="radio" name="vote-species" value="0">
                  <span class="terms strong">Snow Leopards</span></label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                  <input class="form-check-input required" type="radio" name="vote-species" value="1">
                  <span class="terms strong">African Elephants</span></label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                  <input class="form-check-input required" type="radio" name="vote-species" value="2">
                  <span class="terms strong">Orang-utans</span></label>
                </div>
                <div class="help-block">Please select a species</div>
              </div>
              </form>
            </div>
            <div class="butty">
              <span class="btn mr-btn btn-primary vote-btn" data-id="species">Vote</span>
            </div>

            <div class="coming-soon"><img src="/static-assets/images/ui/badge_coming_soon.png"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="intro-view">
      <div class="intro-container-view">
        <h1>Climb For Your World</h1>
        <h2>Get active and get outdoors</h2>
        <div class="text">Hike, run or cycle your local hills, peaks and mountains to help us protect iconic species and their habitats.</div>

        <div class="video-container">
          <div class="video">
            <video id="media_intro" url="https://tbassets2.imgix.net/images/brands/mountainrush/clients/wwf-uk/assets/WWF_1080_youtube.m4v" class="media-player video-js vjs-default-skin" controls preload="none" width="auto" height="auto" poster="https://tbassets2.imgix.net/images/brands/mountainrush/clients/wwf-uk/assets/MR_strava_wwf_img_0000_girl.png?fm=jpg&w=420&h=236&fit=crop&q=80">
             <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
            </video>
          </div>
        </div>

        <div class="btns">
          <a class="btn mr-btn btn-primary double" href="<%= Defs.BaseHTTPSURL %>/campaign/<%= Campaign.CampaignID %>/register"><div><%= __('defs.countmein') %></div><div><i class="fa fa-arrow-right"></i></div></a>
        </div>
      </div>
    </div>

    <div id="howtoguide-view">
      <div class="howtoguide-container-view">
        <h1>How to get started</h1>
        <div class="steps-container-view">
          <div class="step-view">
            <div class="image" style="background-image: url('/static-assets/images/<%= Campaign.CampaignTemplate %>/howtoguide/CFYW_icon1@2x.png')"></div>
            <h2><%= __('how_to_guide.challenge.title') %></h2>            
            <%- __('how_to_guide.challenge.description').replace(/\n/g, '<br/>') %>
          </div>
          <div class="step-view">
            <div class="image" style="background-image: url('/static-assets/images/<%= Campaign.CampaignTemplate %>/howtoguide/CFYW_icon2@2x.png')"></div>
            <h2>
            <%= __('how_to_guide.active.title') %></h2>
            <%- __('how_to_guide.active.description', '<a class="link" href="https://www.strava.com/mobile" target="_blank">' +  __('defs.strava_app') + '</a>').replace(/\n/g, '<br/>') %>
          </div>
          <div class="step-view">
            <div class="image" style="background-image: url('/static-assets/images/<%= Campaign.CampaignTemplate %>/howtoguide/CFYW_icon3@2x.png')"></div>
            <h2><%= __('how_to_guide.fundraise.title') %></h2>
            <%- __('how_to_guide.fundraise.description').replace(/\n/g, '<br/>') %>
          </div>
        </div>

        <div class="btns">
          <span class="visible-player-active"><a class="btn mr-btn btn-primary double" href="<%= Defs.BaseHTTPSURL %>/campaign/<%= Campaign.CampaignID %>/gamecreate"><div><%= __('defs.challenge.create') %></div><div><i class="fa fa-arrow-right"></i></div></a></span>

          <span class="visible-player-inactive"><a class="btn mr-btn btn-primary double" href="<%= Defs.BaseHTTPSURL %>/campaign/<%= Campaign.CampaignID %>/register"><div><%= __('defs.signup') %></div><div><i class="fa fa-arrow-right"></i></div></a></span>
        </div>
      </div>
    </div>

    <div id="community-climber-feature-view">
      <div id="community-feature-loader-view" class="loader-view">
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
      </div>

      <div id="community-feature-view"></div>
    </div>

    <div id="summary-view">
      <div class="summary-container">
        <div id="summary-loader-view" class="loader-view">
          <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
          </div>
        </div>
        <div id="campaign-summary-view"></div>
      </div>
    </div>

    <div id="leader-view">
      <h1>Leaderboard</h1>
      <div class="text">High five to our top fundraisers. You're awesome!</div>

      <div id="leader-loader-view" class="loader-view">
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
      </div>

      <div id="leaderboard-view" class="leaders"></div>
    </div>

    <div id="supporter-search-view">
      <div class="supporter-search-container">
        <div class="supporter-search-content">
          <h1>Find a <span class="show-when-signed-in">fellow </span>climber</h1>
          <div class="search-panel search suggest ui-front">
            <div class="search-location">
              <input name="search-text" id="search-text" class="search-field" type="text" placeholder="Climber" spellcheck="false">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="community-view">
      <h1>Climb Mt. Sabyinyo</h1>
      <h2>from wherever you are</h2>
      <div class="text">Check out where our fundraisers are climbing by searching #climbforyourworld</div>

      <div id="community-photos-loader-view" class="loader-view">
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
      </div>

      <div id="community-photos-view" class="photos"></div>

      <div class="btns">
        <span class="visible-player-active"><a class="btn mr-btn btn-primary double" href="<%= Defs.BaseHTTPSURL %>/campaign/<%= Campaign.CampaignID %>/gamecreate"><div><%= __('defs.challenge.create') %></div><div><i class="fa fa-arrow-right"></i></div></a></span>

        <span class="visible-player-inactive"><a class="btn mr-btn btn-primary double" href="<%= Defs.BaseHTTPSURL %>/campaign/<%= Campaign.CampaignID %>/register"><div><%= __('defs.signup') %></div><div><i class="fa fa-arrow-right"></i></div></a></span>
      </div>
    </div>

    <% if (Campaign.CampaignTemplate == 'default') { %>
      <% include ../partials/footer.ejs %>
    <% } else { %>
      <%- include('../partials/' + Campaign.CampaignTemplate + '/footer.ejs') %>
    <% } %>
  </div>
</div>


<div id="player-game-view"></div>
<div id="demo-video-view"></div>
<div id="challenge-vote-modal-view"></div>

<div id="mobileTest" class="visible-xs"></div>

<script type="text/template" id="challengeVoteModalViewTemplate">
  <div class="modal msg-overlay" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="details">
            <div class="title">Thanks for voting!</div>
            <div class="description">
            Make sure you follow <strong>#climbforyourworld</strong> on social media to find out the next challenge!
            </div>
          </div>
        </div>
        <div class="big-close-btn"><i class="fa fa-times"></i></div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->  
</script>

<script type="text/template" id="socialFeatureViewTemplate">
  <div class="community-feature-container-view">
    <h1>#ClimbForYourWorld</h1>
    {{ _.each(juicer.posts.items, function(post, index) { }}
      <div class="content">
        <div class="image"><a href="{{= post.full_url }}" target="_blank"><img src="{{= post.image }}"></a></div>
        <div class="text">
          <div class="avatar"><img src="{{= post.poster_image }}"></div><div class="poster strong">{{= post.poster_name }}</div>

          {{= post.message }}
          <div class="engagement">
          {{ if (post.likes >= 1) { }}
            <span class="likes"><i class="icon fa fa-heart"></i> {{= post.likes }}</span>
          {{ } }}

          {{ if (post.comments >= 1) { }}
            <i class="icon fa fa-comment"></i> {{= post.comments }}
          {{ } }}          
          </div>
        </div>
      </div>
    {{ }); }}
  </div>
</script>

<script type="text/template" id="campaignSummaryStickerViewTemplate">
  <div class="summary-total-raised">
    <div class="total-raised-sticker sm">
      <div class="total">{{ if (fundraising_currency_symbol.length > 1) { }}<span class="fat-currency-symbol">{{= fundraising_currency_symbol }}</span>{{ } else { }}{{= fundraising_currency_symbol }}{{ } }} {{= Math.round(total_fundraising_raised) }}</div>
      <div class="break"></div>
      <div class="title">Total Raised</div>
      <div class="title-sub">by climb for your world</div>
    </div>
  </div>
</script>

<script type="text/template" id="campaignSummaryViewTemplate">
  <div class="summary-total-raised">
    <div class="total-raised-sticker">
      <div class="total">{{ if (fundraising_currency_symbol.length > 1) { }}<span class="fat-currency-symbol">{{= fundraising_currency_symbol }}</span>{{ } else { }}{{= fundraising_currency_symbol }}{{ } }} {{= Math.round(total_fundraising_raised) }}</div>
      <div class="break"></div>
      <div class="title">Total Raised</div>
      <div class="title-sub">by climb for your world</div>
    </div>
  </div>

  <div class="summary-break"></div>

  <div class="summary-total-climbed">
    <div class="total">{{= total_ascent_formatted }}</div>
    <div class="title">Metres Climbed</div>
  </div>
</script>

<script type="text/template" id="leaderboardViewTemplate">
  {{ _.each(players, function(player, index) { }}
    <div class="leader">
      <div class="content">
        <div class="marker">
          {{ var strURL = '<%= Defs.BaseHTTPSURL %>/campaign/<%= Campaign.CampaignID %>' }}
          {{ if (player.gameID) { }}
            {{ strURL = '<%= Defs.BaseHTTPSURL %>/game/' + player.gameID + '/player/' + player.id }}
          {{ } }}
          <a href="{{= strURL }}"><div class="avatar">
          <% if (Campaign.CampaignTemplate == 'default') { %>
            <img src="<%= Defs.MRAPIURL %>imageproxy.php?url={{= player.avatar }}">
          <% } else { %>
            <img src="<%= Defs.MRAPIURL %>imageproxy.php?url={{= player.avatar }}&urlfallback=https://mountainrush.co.uk/static-assets/images/<%= Campaign.CampaignTemplate %>/avatar_unknown.jpg">
          <% } %>
          </div></a>
        </div>
        <div class="fundraise-detail">
          <div class="name">{{= player.firstname }} {{= player.lastname }}</div>
          <div class="climbed">Climbed {{= Math.round(player.ascent) }} m</div>
          <div class="amount-detail">Raised<span class="amount">
          {{ if (player.fundraising_currency_symbol) { }}{{ if (player.fundraising_currency_symbol.length > 1) { }}<span class="fat-currency-symbol">{{= player.fundraising_currency_symbol }}</span>{{ } else { }}{{= player.fundraising_currency_symbol }}{{ } }}{{ } else { }}${{ } }}{{= Math.round(player.fundraising_raised) }}</span>
          </div>
        </div>
      </div>
    </div>
  {{ }); }}
</script>

<script type="text/template" id="communityPhotosViewTemplate">
  {{ _.each(juicer.posts.items, function(post, index) { }}<div class="post">
    <div class="media">
      <a href="{{= post.full_url }}" target="_blank"><div class="image" style="background-image: url('{{= post.image }}')"></div>
      <div class="likes ago">
      {{ if (post.likes >= 1) { }}
        <i class="icon fa fa-heart"></i> {{= post.likes }}
      {{ } }}
      </div>
      </a>
    </div>
    <div class="details">
      <div class="text">
        <div class="name"><a href="{{= post.full_url }}" target="_blank">{{= post.poster_name }}</a></div>
        <div class="credit truncate"  data-truncate="62"> {{= post.message }}</div>
      </div>
    </div>
  </div>{{ }); }}
</script>

<script type="text/template" id="playerGameViewTemplate">
  <div class="modal msg-overlay" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          {{ var activeGames = _.where(player.games, {game_state:'active'}) }}
          {{ var pendingGames = _.where(player.games, {game_state:'pending'}) }}

          {{ if (activeGames.length) { }}
            {{ var currGame = activeGames[0] }}

            {{ activityDescription = '' }}

            {{ if (currGame.type == 'Run') { }}
              {{ activityDescription = '<%= __('defs.activities.run') %>' }}
            {{ } else if (currGame.type == 'Ride') { }}
              {{ activityDescription = '<%= __('defs.activities.ride') %>' }}
            {{ } else if (currGame.type == 'Hike') { }}
              {{ activityDescription = '<%= __('defs.activities.hike') %>' }}
            {{ } }}

            <div class="details">
              <div class="title"><%= __('overlay.challenge.latest.title') %></div>
              <div class="description">
              {{= '<%= __('overlay.challenge.latest.description') %>'.replace('%s', player.firstname).replace('%s', '<strong>' + currGame.name + '</strong> <span class="lowercase">' + activityDescription + '</span>') }}
              </div>
            </div>

            <div class="action-fields">
              <div class="action-field"><a href="<%= Defs.BaseHTTPSURL %>/game/{{= currGame.game }}" class="btn mr-btn btn-primary"><%= __('overlay.challenge.yes') %></a></div>
              <div class="action-field"><span class="btn mr-btn" data-dismiss="modal"><%= __('overlay.challenge.no') %></span></div>
            </div>
          {{ } else if (pendingGames.length) { }}
            {{ var currGame = pendingGames[0] }}

            {{ activityDescription = '' }}

            {{ if (currGame.type == 'Run') { }}
              {{ activityDescription = '<%= __('defs.activities.run') %>' }}
            {{ } else if (currGame.type == 'Ride') { }}
              {{ activityDescription = '<%= __('defs.activities.ride') %>' }}
            {{ } else if (currGame.type == 'Hike') { }}
              {{ activityDescription = '<%= __('defs.activities.hike') %>' }}
            {{ } }}

            <div class="details">
              <div class="title"><%= __('overlay.challenge.upcoming.title') %></div>
              <div class="description">
              {{= '<%= __('overlay.challenge.upcoming.description') %>'.replace('%s', player.firstname).replace('%s', '<strong>' + currGame.name + '</strong> <span class="lowercase">' + activityDescription + '</span>') }}
              </div>
            </div>

            <div class="action-fields">
              <div class="action-field"><a href="<%= Defs.BaseHTTPSURL %>/game/{{= currGame.game }}" class="btn mr-btn btn-primary">Yes please</a></div>
              <div class="action-field"><span class="btn mr-btn" data-dismiss="modal">Maybe later</span></div>
            </div>
          {{ } }}
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</script>

</body>

<% include ../partials/analytics.ejs %>

<script data-main="/static-assets/js/main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>

<!-- Example of how to use Piste API -->
<script type="text/javascript">
if ( typeof Procedural === 'undefined' ) { Procedural = {}; }
</script>
</html>