<!DOCTYPE html>
<html>
<head>
<% include ../partials/includes.ejs %>
<meta name="apple-mobile-web-app-capable" content="yes">
<% if (Campaign.CampaignTemplate != 'default') { %>
  <link href='/static-assets/css/<%= Campaign.CampaignTemplate %>/web_platform.css' rel='stylesheet' />
<% } %>
<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<link href='/static-assets/css/datepicker.css' rel='stylesheet' />
<link href='/static-assets/css/page.css' rel='stylesheet' />
<% if (Campaign.CampaignTemplate != 'default') { %>
  <link href='/static-assets/css/<%= Campaign.CampaignTemplate %>/page.css' rel='stylesheet' />
<% } %>
<% include ../partials/analyticsFBPixel.ejs %>
</head>
<body>
<script>
var APP = 'DefApp';
var GAME_API_URL = '<%= Defs.MRAPIURL %>';
var HOST_URL = '<%= Defs.BaseHTTPSURL %>';
var CLIENT_ID = '<%= Campaign.ClientID %>';
var CAMPAIGN_ID = '<%= Campaign.CampaignID %>';
var CAMPAIGN_TEMPLATE = '<%= Campaign.CampaignTemplate %>';
var FUNDRAISING_PROVIDER_CAUSE_CODE = '<%= Defs.FundraisingProviderCauseCode %>';
</script>

<div class="container-fluid nopadding">
  <% if (Campaign.CampaignTemplate == 'default') { %>
    <% include ../partials/header.ejs %>
  <% } else { %>
    <%- include('../partials/' + Campaign.CampaignTemplate + '/header.ejs') %>
  <% } %>

  <div id="page-view">
    <div id="hero-view">
      <div class="image fade_on_ready"><img class="scale" src="https://mountainrush-assets.imgix.net/clients/<%= Campaign.CampaignTemplate %>/pages/faq.jpg?fm=jpg&q=80&w=1280"></div>
    </div>

    <div id="page-content-view">
      <div class="content-view">
        <h1>FAQs</h1>
        <div class="intro-text centre-text">
        <h2>What activities will count in my challenge?</h2>
        <p>Choose from hiking, running, cycling or a combination of all three.</p>
        <h2>What if I can't complete my challenge in the time I selected?</h2>
        <p>You have until your countdown reaches 0 to get to the summit.  If you don’t reach the summit in time then the challenge will end without you having reached the summit.</p>
        <p>The good news is that you can cancel a challenge at any time and select a new one giving yourself more time. Simply go to your profile page to cancel your current challenge.</p>
        <h2>What if I need to postpone my challenge?</h2>
        <p>If your challenge has not ended then you can cancel it and create a new one.  Simply go to your <a href="<%= Defs.BaseHTTPSURL %>/campaign/<%= Campaign.CampaignID %>/profile" class="link">profile page</a> to cancel your current challenge.</p>
        <% if (Campaign.CampaignFundraisingProvider == 'JustGiving') { %>
          <h2>Help! I need ideas for how to fundraise.</h2>
          <p>No problem; email <a href="mailto:fundraising@wwf.org.uk" class="link">fundraising@wwf.org.uk</a> and we’ll send you a copy of our fundraising pack which is full of fundraising ideas and advice.</p>
        <% } %>
        <h2>Why can’t I see unlocked video content in my challenge?</h2>
        <p>If your challenge contains content to unlock as you climb, then you need to be 'signed in' on the device where you're viewing the content.</p>
        <p>For example if you 'sign up' to a challenge on a desktop and then view your activity on your smartphone then you'll also need to 'sign up' on your smartphone.</p>
        <h2>How can I watch unlocked video content again?</h2>
        <p>If your challenge contains content and you've successfully unlocked it, then you may view it as often as you like. Unlocked content is denoted by a floating 'tick' icon; just click on it and you'll see the content again.</p>
        <h2>I forgot to turn on Strava for my hike/run/cycle. Can I add the metres afterwards?</h2>
        <p>No, sorry! Whilst Strava does allow you log an activity manually, you can’t add the metres you climbed. This is because Strava uses your recorded route data to determine your metres climbed, so you'll need to head out again to make those metres count.</p>
        <h2>I recorded an activity with Strava but it doesn’t appear in my challenge.</h2>
        <p>This is usually because the recorded activity in Strava doesn't match the activity type chosen for your challenge.  For example if you choose a 'hike' challenge but record a 'walk' in Strava then it won't appear. You can resolve this but changing the activity type in Strava and then contacting Mountain Rush support to update your challenge.</p>
        <p>It could also be because of your Strava privacy settings. You will need to change your privacy settings to that everyone can see your activities.</p>
        <h2>Can I use other fitness apps?</h2>
        <p>No, sorry. We’ve chosen <a href="https://www.strava.com" target="_blank" class="link">Strava</a> as it allows the use of activity data and the photos you upload into the Strava App.  At this time we have no plans to integrate other fitness apps.</p>

        <% include ../partials/support.ejs %>
        </div>
      </div>

      <div class="campaign-sticker-container">
        <div class="campaign-sticker">
        </div>
      </div>
    </div>
  </div>

  <% if (Campaign.CampaignTemplate == 'default') { %>
    <% include ../partials/footer.ejs %>
  <% } else { %>
    <%- include('../partials/' + Campaign.CampaignTemplate + '/footer.ejs') %>
  <% } %>
</div>

<div id="mobileTest" class="visible-xs"></div>
<div id="demo-video-view"></div>

<% include ../partials/demoVideoTemplate.ejs %>
<% include ../partials/analytics.ejs %>
<script data-main="/static-assets/js/main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
</html>