<script type="text/template" id="challengeCancelModalViewTemplate">
  {{ activityDescription = '' }}

  {{ if (currGame.type == 'Run') { }}
    {{ activityDescription = '<%= __('defs.activities.run') %>' }}
  {{ } else if (currGame.type == 'Ride') { }}
    {{ activityDescription = '<%= __('defs.activities.ride') %>' }}
  {{ } else if (currGame.type == 'Hike') { }}
    {{ activityDescription = '<%= __('defs.activities.hike') %>' }}
  {{ } }}

  <div class="modal msg-overlay" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="details">
            <div class="title"><%= __('overlay.challenge_cancel.title') %></div>
            <div class="description">{{= '<%- __('overlay.challenge_cancel.description') %>'.replace('%s', '<strong>' + currGame.level_name + '</strong>').replace('%s', '<span class="lowercase">' + activityDescription + '</span>') }}</div>
          </div>
          <div class="action-fields">
            <div class="action-field"><span class="btn mr-btn btn-primary cancel-challenge-btn" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> <%= __('defs.please_wait') %>"><%= __('overlay.challenge_cancel.yes') %></span>
            </div>
            <div class="action-field"><span class="btn mr-btn" data-dismiss="modal"><%= __('overlay.challenge_cancel.no') %></span></div>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</script>
