<script type="text/template" id="gameInviteViewTemplate">
  <div class="title"><h1><%= __('game.invite_friends.title') %></h1></div>
  <div class="intro-text centre-text description"><%= __('game.invite_friends.description') %></div>

  <form>
  <div class="info">
    <div class="msg" data-msg="invite-sent">
    <p><%= __('game.invite_friends.invitation_sent') %></p>
    </div>
  </div>
  <div class="form-group">
    <div class="form-label"><label><%= __('game.invite_friends.friend_name') %></label></div><input class="field form-control required" id="invite-name">
    <div class="help-block"><%= __('game.invite_friends.friend_name_help') %></div>
  </div>
  <div class="form-group">
    <div class="form-label"><label><%= __('game.invite_friends.friend_email') %></label></div><input class="field form-control required" id="invite-email">
    <div class="help-block"><%= __('game.invite_friends.friend_email_help') %></div>
  </div>
  <div class="form-button">
  <button type="submit" class="btn mr-btn btn-primary invite-btn" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> <%= __('defs.please_wait') %>"><%= __('game.invite_friends.invite_friend') %></button>
  </div>
  </form>
  <div class="form-back">&lt; <span class="link link-back"><%= __('register.go_back') %></span></div>
</script>
