<!DOCTYPE html>
<html>
<head>
<% include ../partials/includes.ejs %>
<meta name="apple-mobile-web-app-capable" content="yes">
<% if (Campaign.CampaignFundraising) { %>
  <link href='/static-assets/css/<%= Campaign.CampaignTemplate %>/web_platform.css' rel='stylesheet' />
<% } %>
<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<link href='/static-assets/css/datepicker.css' rel='stylesheet' />
<link href='/static-assets/css/page.css' rel='stylesheet' />
<% if (Campaign.CampaignFundraising) { %>
  <link href='/static-assets/css/<%= Campaign.CampaignTemplate %>/page.css' rel='stylesheet' />
<% } %>
<% include ../partials/analyticsFBPixel.ejs %>
</head>
<body>
<script>
var APP = 'DefApp';
var GAME_API_URL = '<%= Defs.MRAPIURL %>';
var HOST_URL = '<%= Defs.BaseHTTPURL %>';
var CLIENT_ID = '<%= Campaign.ClientID %>';
var CAMPAIGN_ID = '<%= Campaign.CampaignID %>';
var CAMPAIGN_TEMPLATE = '<%= Campaign.CampaignTemplate %>';
</script>

<div class="container-fluid nopadding">
  <% if (Campaign.CampaignTemplate == 'default') { %>
    <% include ../partials/header.ejs %>
  <% } else { %>
    <%- include('../partials/' + Campaign.CampaignTemplate + '/header.ejs') %>
  <% } %>

  <div id="page-view">
    <div id="hero-view">
      <div class="image fade_on_ready">        
      <% if (Campaign.CampaignTemplate == 'default') { %>
        <img class="scale" src="http://tbassets2.imgix.net/images/brands/mountainrush/pages/olivier-miche-102259-unsplash.jpg?fm=jpg&q=80&w=1280">
      <% } else { %>
        <img class="scale" src="http://tbassets2.imgix.net/images/brands/mountainrush/clients/<%= Campaign.CampaignTemplate %>/pages/WW267199.jpg?fm=jpg&q=80&w=1280">
      <% } %>
      </div>
    </div>

    <div id="page-content-view">
      <div class="content-view">
        <h1>FAQs</h1>
        <div class="intro-text centre-text">
        <h2>I forgot to turn on Strava for my run/hike/cycle. Can I add the metres manually?</h2><p>Although Strava does let you log an activity manually it does not allow you to add metres climbed manually. &nbsp;This is because Strava uses your recorded route data to determine your metres climbed.</p><p>So you'll need to head out again to make those metres count!</p><h2>What if I can't complete my challenge in the time I selected?</h2><p>You have until your countdown reaches 0 to get to the summit. &nbsp;If you do not reach the summit in time then the challenge will end without you having reached the summit.</p><p>The good news is that once a challenge ends you can select another one, giving yourself more time, or changing the activity!</p><h2>I recorded an activity with Strava but it doesn't appear in my challenge</h2><p>This is usually because the recorded activity in Strava doesn't match the activity type chosen for your challenge. &nbsp;For example if you choose a 'hike' challenge but record a 'walk' in Strava then it won't appear.</p><p>You can resolve this but changing the activity type in Strava and then contacting Mountain Rush&nbsp;<a href="mailto:support@mountainrush.co.uk">support</a>&nbsp;to update your challenge.</p><h2>What if I need to postpone my challenge?</h2><p>If your challenge has not ended then it should be possible to change the end date, just contact Mountain Rush&nbsp;<a href="mailto:support@mountainrush.co.uk">support</a>.</p><h2>Why can't I see unlocked video content in my challenge?</h2><p>If your challenge contains content to unlock as you climb, then you need to be 'signed in' on the device where you're viewing the content.</p><p>For example if you 'sign up' to a challenge on a desktop and then view your activity on your smartphone then you'll also need to 'sign up' on your smartphone.</p><h2><span>How do I see unlocked video content again?</span></h2><p><span>If your challenge contains content and you've successfully unlocked it, then you may view it as often as you like.&nbsp; </span></p><p><span>Unlocked content is denoted by a floating 'tick' icon, just click on it and you'll see the content again.</span></p><h2>Can I use other fitness apps?&nbsp;</h2><p>We have selected <a href="https://www.strava.com" target="_blank">Strava</a> as our activity tracking solution. &nbsp;Strava allows the use of activity data and the photos you upload into the <a href="https://www.strava.com/mobile" target="_blank">Strava App</a>. &nbsp;At this time we have no plans to integrate other fitness apps.</p>
        </div>
      </div>

      <div class="campaign-sticker-container">
        <div class="campaign-sticker">
        </div>
      </div>
    </div>
  </div>

  <% if (Campaign.CampaignTemplate == 'default') { %>
    <% include ../partials/footer.ejs %>
  <% } else { %>
    <%- include('../partials/' + Campaign.CampaignTemplate + '/footer.ejs') %>
  <% } %>
</div>

<div id="mobileTest" class="visible-xs"></div>
<div id="demo-video-view"></div>

<% include ../partials/demoVideoTemplate.ejs %>
<% include ../partials/analytics.ejs %>
<script data-main="/static-assets/js/main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
</html>