<!DOCTYPE html>
<html>
<head>
<% include ../partials/includes.ejs %>
<meta name="apple-mobile-web-app-capable" content="yes">
<% if (Campaign.CampaignFundraising) { %>
  <link href='/static-assets/css/<%= Campaign.CampaignTemplate %>/web_platform.css' rel='stylesheet' />
<% } %>
<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<link href='/static-assets/css/datepicker.css' rel='stylesheet' />
<link href='/static-assets/css/page.css' rel='stylesheet' />
<link href='/static-assets/css/gamedonate.css' rel='stylesheet' />
<% if (Campaign.CampaignFundraising) { %>
  <link href='/static-assets/css/<%= Campaign.CampaignTemplate %>/page.css' rel='stylesheet' />
<% } %>
<% include ../partials/analyticsFBPixel.ejs %>
</head>
<body>
<script>
var APP = 'GameDonateApp';
var GAME_API_URL = '<%= Defs.MRAPIURL %>';
var HOST_URL = '<%= Defs.BaseHTTPURL %>';
var CLIENT_ID = '<%= Campaign.ClientID %>';
var CAMPAIGN_ID = '<%= Campaign.CampaignID %>';
var CAMPAIGN_TEMPLATE = '<%= Campaign.CampaignTemplate %>';
var GAME_ID = '<%= Defs.GameID %>';
var PLAYER_ID = '<%= Defs.PlayerID %>';
var FUNDRAISING_DONATION_AMOUNT = '<%= Defs.FundraisingDonationAmount %>';
</script>

<div class="container-fluid nopadding">
  <% if (Campaign.CampaignTemplate == 'default') { %>
    <% include ../partials/header.ejs %>
  <% } else { %>
    <%- include('../partials/' + Campaign.CampaignTemplate + '/header.ejs') %>
  <% } %>

  <div id="page-view">
    <div id="hero-view">
      <div class="image fade_on_ready">        
      <% if (Campaign.CampaignTemplate == 'default') { %>
        <img class="scale" src="https://tbassets2.imgix.net/images/brands/mountainrush/pages/olivier-miche-102259-unsplash.jpg?fm=jpg&q=80&w=1280">
      <% } else { %>
        <img class="scale" src="https://tbassets2.imgix.net/images/brands/mountainrush/clients/<%= Campaign.CampaignTemplate %>/pages/WW185891.jpg?fm=jpg&q=80&w=1280">
      <% } %>
      </div>
    </div>

    <div id="page-content-view">
      <div class="content-view">

        <div id="game-donation-view"></div>

        <h1>Make a donation</h1>
        <div class="intro-text centre-text">
          <div class="dds-widget-container" data-widget="lema"></div>
        </div>
      </div>

      <div id="game-donation-step-view"></div>

      <div class="campaign-sticker-container">
        <div class="campaign-sticker">
        </div>
      </div>

    </div>
  </div>

  <% if (Campaign.CampaignTemplate == 'default') { %>
    <% include ../partials/footer.ejs %>
  <% } else { %>
    <%- include('../partials/' + Campaign.CampaignTemplate + '/footer.ejs') %>
  <% } %>
</div>

<div id="mobileTest" class="visible-xs"></div>
<div id="demo-video-view"></div>

<script type="text/template" id="gameDonationViewTemplate">
  <h1>Support {{= player.firstname }}</h1>

  <div class="intro-text centre-text">
    <p>
    {{= player.fundraising_msg }}
    </p>
    <p>
    View my challenge <a href="<%= Defs.BaseHTTPURL %>/game/<%= Defs.GameID %>/player/<%= Defs.PlayerID %>">here</a>.
    </p>
  </div>    
</script>

<script type="text/template" id="gameDonationStepViewTemplate">
  <div class="step-container">
    <div class="step">
      <div class="step-image">
        <img class="step-player active" src="{{= player.avatar }}">
      </div>
    </div>
  </div>
</script>

<% include ../partials/demoVideoTemplate.ejs %>
<% include ../partials/analytics.ejs %>
<script data-main="/static-assets/js/main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
</html>